{% extends 'base.html.twig' %}

{% block body %}

    {% for flash_message in app.session.flashBag.get('success') %}
        <div class="alert alert-success text-center" role="alert">
            <strong>Superbe !</strong> {{ flash_message }}
        </div>
    {% endfor %}

    {% if error %}
        <div class="alert alert-danger" role="alert">
        {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    <form action="{{ path('login') }}" method="post">
        <label for="username">Email :</label>
        <input type="email" id="username" name="email" value="{{ last_username }}"required autofocus/>

        <label for="password">Mot de passe :</label>
        <input type="password" id="fieldPassword" name="password" />
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <button class="btn btn-success" type="submit">Se connecter</button>
    </form>
{% endblock %}
